.wrapper {
  width: 100%;
}
.formElement {
  margin-bottom: 5% !important;
}
.button {
  background-color: #001526 !important;
  color: white !important;
}
.icons {
  padding-right: 5%;
  font-size: 1.7vw;
  padding-top: 5%;
  color: #001526;
}
.form {
  //   background-color: white !important;
  margin-top: 5%;
}
