.card {
  width: 20vw !important;
  box-shadow: 0 5px 8px 0 rgba(139, 139, 139, 0.781) !important;
  @media screen and (max-width: 1100px) {
    width: 30vw !important;
    margin-top: 2vh !important;
  }
  @media screen and (max-width: 680px) {
    width: 80vw !important;
    margin-top: 2vh !important;
  }
}
.description {
  padding-bottom: 5%;
}
.img {
  width: 100%;
  height: 100%;
}
.cover {
  position: relative !important;
  text-decoration: inherit !important;
  transition: all 0.2s ease-in-out !important;
  max-height: 200px !important;
  overflow: hidden !important;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(139, 139, 139, 0.781) !important;
  transform: scale(1.02);
  //   background-position-x: 60px;
}
.title {
  position: absolute !important;
  bottom: 3px !important;
  text-shadow: 2px 2px 4px #000000;
  left: 20%;
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.25rem;
  z-index: 2;
  font-family: 'sharp-sans', Montserrat, Verdana, sans-serif;
  color: white;
}
.money {
  text-align: center;
}
.progress {
}
