.wrapperContent {
  margin-top: 20px;
  background-color: white;
}
.layout {
  background-color: white !important;
}
.navbar {
  background: white !important;
  box-shadow: 0px 9px 7px 0px rgba(219, 216, 219, 1) !important;
}
.footerWrapper {
  bottom: 0;
  width: 100%;
  // background-color: white !important;
}
.formElement {
  padding-bottom: 5%;
}
