.wrapper {
  //   background-color: blue;
  background-image: url('../../../assets/bg1.jpg');
  background-size: cover;
  background-position-y: -40vh;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   width: 100%;
  padding: 50px;
}
