// .wrapper {
//   display: flex;
// }
.element {
  // color: white;
}
.title {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 700;
}
.number {
  font-weight: 700;
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  display: block;
  position: relative;
  font-family: 'Oswald', Arial, sans-serif;
}
